.future {
  max-width: 1360px;
  margin: 32px auto;
  align-items: center;
  font-family: 'YandexSans';
  font-weight: 400;
}

.future__header {
  font-size: 48px;
  line-height: 42px;
  font-weight: bold;
}