/* Roboto font */

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url('./Roboto/Roboto-Bold.woff2') format('woff2'),
    url('./Roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('./Roboto/Roboto-Light.woff2') format('woff2'),
    url('./Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('./Roboto/Roboto-Regular.woff2') format('woff2'),
    url('./Roboto/Roboto-Regular.woff') format('woff');
}

/* YSText font */

@font-face {
  font-family: 'YSText';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url('./YSText/YandexSansText-Bold.woff2') format('woff2'),
    url('./YSText/YandexSansText-Bold.woff') format('woff');
}

@font-face {
  font-family: 'YSText';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('./YSText/YandexSansText-Light.woff2') format('woff2'),
    url('./YSText/YandexSansText-Light.woff') format('woff');
}

@font-face {
  font-family: 'YSText';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('./YSText/YandexSansText-Medium.woff2') format('woff2'),
    url('./YSText/YandexSansText-Medium.woff') format('woff');
}

@font-face {
  font-family: 'YSText';
  font-style: normal;
  font-display: swap;
  src:
    url('./YSText/YandexSansText-Regular.woff2') format('woff2'),
    url('./YSText/YandexSansText-Regular.woff') format('woff');
}

/* Inter font */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Inter/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Inter/Inter-SemiBold.woff2') format('woff2');
}
