.event-faq {
  font-family: 'YandexSans';
  font-weight: 400;
  max-width: 1360px;
  margin: 32px auto;
  align-items: center;
}

.event-faq__header {
  font-size: 48px;
  line-height: 42px;
  font-weight: bold;
  margin-top: 64px;
}

.faq-row-wrapper {
  .faq-body {
      .faq-row {
          .row-title {
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
          }

          .row-content {
              .row-content-text {
                font-size: 20px;
                line-height: 32px;
              }
          }
      }
  }
}