.login {
  align-items: center;
  font-family: 'YandexSans';
  font-weight: 400;
  visibility: visible;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 1;
}

.login__cover {
  width: 900px;
  min-height: 655px;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}

.login__hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  /* transition: visibility 0.5s, opacity 0.5s; */
}

.login__header {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  width: 75px;
  margin: 0 auto 30px;  
}

.login__field {
  width: 325px;
  min-height: 344px;
  margin: 30px auto;
  border: none;
}

.login__input-cover {
  margin: 10px 0;
}

.login__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.login__input {
  border: 1px solid #E0DEFF;
  width: 306px;
  height: 48px;
  border-radius: 16px;
  padding: 2px 10px;
  margin: 5px 0;
}

.button__type_fogot-password {
  width: 325px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin-bottom: 20px;
}

.button__type_login {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  width: 325px;
  padding: 12px 24px 12px 24px;
  border-radius: 16px;
  opacity: 0px;
  background-color: #342CE8;
  color: #fefefe;
  border: none;
  cursor: pointer;
  margin: 10px 0 0;
}

.button__type_login-idya {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  width: 325px;
  padding: 12px 24px 12px 24px;
  border-radius: 16px;
  background-color: #212529;
  color: #fefefe;
  border: none;
  cursor: pointer;
  margin: 10px 0 0;
}

.login__text-agreement {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 508px;
  margin: 20px auto;
}

.login__link-agreement{
  color: #342CE8;
  cursor: pointer;
}

.login__decoration {
  width: 836px;
  height: 2px;
  background-color: #E5E8EC;
  margin: 20px auto;
}

.login__link-regisration {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #342CE8;
  margin: 0 0 0 345px;
  width: 195px;
  display: inline-block;
  text-decoration: none;
}

.button__type_close {
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: none;
  background-image: url(./../../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

